[DEFAULT]
#path to the reads
reads_path = tagged_reads/mixed_tagged_subsample.fastq

num_threads = 20

output_dir = test252222

ref_path = data/references/S288C_reference.fasta

[reads_quality]

#path to the (trimmed) reference for haplotype 1
ref1_path = data/assemblies/flye/trimmed/v2/trimmed_S288C_assm_v2.fasta

#path to the (trimmed) reference for haplotype 2
ref2_path = data/assemblies/flye/trimmed/v2/trimmed_FSY1742_assm_v2.fasta

# key in the description to look for to determine haplotype
key = strain

# value in the description corresponding to hap1
tag1 = S288C

# hap2
tag2 = FSY1742

[pomoxis]

[quast]

