[DEFAULT]



[seqrequester]
# path to seqrequester executable
program_path = /path/to/executable

# path to genome from which to simulate reads
genome_path = test.fasta

# is the genome circular? (true/false)
circular = false

# coverage of simulated reads
coverage = 1

# probability to output a reverse strand
reverse_prob = 0.5

# imitate the length distribution of this set of reads (fasta/q file)
length_profile_source = test.fasta

# output path. If empty, then Stdout
output_path = 
